

{% block content  %}
<h2>Ro`xatdan o`tish</h2>
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
            <form action="{% url 'follower:register' %}" method="'POST">{% csrf_token %}
                    
                    {% for form in form %}
                    <div class="form-row">
                        
                        <div class="col form-group">
                            <label>First name</label>
                              {{form.name}}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Last name</label>
                            {{form.surname}}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <!-- form-group end.// -->
                   <!-- form-group end.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>Email address</label>
                          {{form.email}}
                          <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                          <label>Phone number</label>
                          
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Create password</label>
                            {{form.password}}
                        </div> <!-- form-group end.// --> 
                        <div class="form-group col-md-6">
                            <label>Repeat password</label>
                            {{form.confirm_password}}
                        </div> <!-- form-group end.// -->  
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Register  </button>
                    </div> <!-- form-group// -->  
                    {% endfor %}    
                        
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Have an account? <a href="{% url 'follower:signup' %}">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>
<!-- <form method="post"{% csrf_token %}>
{{form.as_p}}
<button type="submit">Ro`xatdan o`tish</button>

</form> -->

{% endblock content %}